**/node_modules
functions/.env
**/python/python
layers/python-v2/python
layers/rdkit/python
layers/*/layer.zip
.aws-sam
**/.env
**/.DS_Store
scripts/node_modules
s3
**/coverage/**
**/__pycache__/**
TODO.md
TODO.json
api_v2_docs
scripts/s3_v2
.restore-tmp/

scripts/v2
layers