**/node_modules
functions/.env
**/python/python
.aws-sam
.env.json
**/.env
**/.DS_Store
scripts/node_modules
s3
env.json
**/coverage/**
**/__pycache__/**
TODO.md
TODO.json
api_v2_docs
scripts/s3_v2
.restore-tmp/
